@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7585A1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book-card, .welcome, .current-book {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 75%;
  max-width: 500px;
  text-align: center;
  background: white;
  border-radius: 15px;
  padding: 0.5em;
}

.book-card * {
  text-align: center;
}

.book-card img {
  width: 75%;
  height: auto;
  border-radius: 10px;
}

.current-book {
  position: relative;
}

.chapter-bar {
  position: relative;
  height: 2em;
  width: 85%;
  border: solid black 1px;
  overflow: hidden;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.chapter {
  position: absolute;
  transition: width 1s;
  left: 0;
  height: 2em;
  background-color: #0057b3;
}
